[submodule "submodules/gae_mini_profiler"]
	path = submodules/gae_mini_profiler
	url = git://github.com/kamens/gae_mini_profiler.git
	ignore = dirty
[submodule "submodules/bs4"]
	path = submodules/bs4
	url = git://github.com/kelp404/bs4.git
	ignore = dirty
[submodule "submodules/requests"]
	path = submodules/requests
	url = git://github.com/kennethreitz/requests.git
	ignore = dirty
