<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}{{ title_prefix }}</title>
    <meta name="author" content="Kelp">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/core.min.js"></script>
</head>
<!--
                                    ,'.
                                   ;+++`
                                  '+   +`
                                 +      +
                                ;        ,
                                         .
                               ,
                               ,    .'+', +';::.`           .
                               .  ,++++++++++++++++'`       :,';`
                               ,++++++++++##+++++++++++'   `,,,,, ;`
                              ++++++++++++++++++++++++++++`;,,,+,,,:
                            '+++++++''''+;;;;;;';;;+++++'+++,,+',,;'
                           ;';;;;'++++++++++++++++++#+++++++++++:
                         .'+++++++++#++++++++##+#+#+##++++'+#++++.
                        '+++#++++++++++++++++##+#++#++++++++#+#++:
                       +`++#+++++++#+++++++++##+'#+###++++####+#+;
                   `,.  '++#++++++#+++:+++++###,,##;##++++####++#'
                        ++##+#++++#++':'+'++##+:::#+;##+++###+;+++
                       `++####+++##++::.+`++##;'+:'#:+#++++###;,++
                       + +####+++#++',` #::+#+:`;++++++++++#+#: #+
                         .####++++;::,  .``++:,`;,###+++++++##, ++,'
                     `   `+####++    . ; ;```:``++#+# ++++++##` ,#+
                         :++###++   '.   ',.`````',:`:+++++#+#  `#+.;
                         '++####++`.;'.``````.:;::,`,'++#++# '   #+'
                          ;++####```````````````````:+++#++      ##+
                            ++####`````````````````.,++##+       ##:
                            '++##:#+:`````````````:#+++##;      `#.,
                             ';+#, ',###',````;'#+' `+##+       .' .
                             ,  '#      ::::::::`   `+#`'       '
                                  ':#;::::+;:+::::' `+
                                `++++.:++++:+;+++:#+'
                        ,++++++++,++++;'++++++++++++,`
-->
<body>
    {% include '_nav_bar.html' %}

    <div id="content_background">
        <div id="content" class="container">
            <div id="alert_view_center" class="span10" style="margin-left: 160px;"></div>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include '_footer.html' %}
    {{ profiler_includes|safe }}
</body>
</html>