<!doctype html>
<html ng-app="victory.router">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title ng-bind="$state.current.resolve.title() + 'Victory'">Victory</title>
    <meta name="author" content="Kelp"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    {% if compressed %}
        <link rel="stylesheet" type="text/css" href="/css/site.min.css"/>
        <script type="text/javascript" src="/javascript/site.min.js"></script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="/css/alert_view.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <script type="text/javascript" src="/javascript/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/javascript/base.min.js"></script>
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascript/nprogress.min.js"></script>
        <script type="text/javascript" src="/coffeescript/victory.js"></script>
        <script type="text/javascript" src="/coffeescript/victory_directive.js"></script>
        <script type="text/javascript" src="/coffeescript/victory_controller.js"></script>
        <script type="text/javascript" src="/coffeescript/victory_router.js"></script>
        <script type="text/javascript" src="/coffeescript/victory_service.js"></script>
    {% endif %}
    <script type="text/javascript">
        {% if user %}
            victory.user.isLogin = true;
            victory.user.userId = {{ user.key().id() }};
            victory.user.name = {{ user.name|tojson|safe }};
            victory.user.email = {{ user.email|tojson|safe }};
            victory.user.level = {{ user.level }};
        {% else %}
            victory.loginUrl = {{ login_url|tojson|safe }};
        {% endif %}
    </script>
</head>
<!--
                                    ,'.
                                   ;+++`
                                  '+   +`
                                 +      +
                                ;        ,
                                         .
                               ,
                               ,    .'+', +';::.`           .
                               .  ,++++++++++++++++'`       :,';`
                               ,++++++++++##+++++++++++'   `,,,,, ;`
                              ++++++++++++++++++++++++++++`;,,,+,,,:
                            '+++++++''''+;;;;;;';;;+++++'+++,,+',,;'
                           ;';;;;'++++++++++++++++++#+++++++++++:
                         .'+++++++++#++++++++##+#+#+##++++'+#++++.
                        '+++#++++++++++++++++##+#++#++++++++#+#++:
                       +`++#+++++++#+++++++++##+'#+###++++####+#+;
                   `,.  '++#++++++#+++:+++++###,,##;##++++####++#'
                        ++##+#++++#++':'+'++##+:::#+;##+++###+;+++
                       `++####+++##++::.+`++##;'+:'#:+#++++###;,++
                       + +####+++#++',` #::+#+:`;++++++++++#+#: #+
                         .####++++;::,  .``++:,`;,###+++++++##, ++,'
                     `   `+####++    . ; ;```:``++#+# ++++++##` ,#+
                         :++###++   '.   ',.`````',:`:+++++#+#  `#+.;
                         '++####++`.;'.``````.:;::,`,'++#++# '   #+'
                          ;++####```````````````````:+++#++      ##+
                            ++####`````````````````.,++##+       ##:
                            '++##:#+:`````````````:#+++##;      `#.,
                             ';+#, ',###',````;'#+' `+##+       .' .
                             ,  '#      ::::::::`   `+#`'       '
                                  ':#;::::+;:+::::' `+
                                `++++.:++++:+;+++:#+'
                        ,++++++++,++++;'++++++++++++,`
-->
<body>
    <!-- navigation begin -->
    <div id="js_navigation" class="cs_navigation" ng-controller="NavigationCtrl" v-navigation>
        <div class="cs_navigation_inner">
            <div class="cs_logo"><a href="/">Victory</a></div>
            {% if user %}
                <div class="cs_profile">
                    <p v-tooltip title="{{ user.email }}" data-placement="bottom">{{ user.name }}</p>
                    <p><a href="{{ logout_url }}#">Sign out</a></p>
                </div>
            {% endif %}
            <ul>
                {% if user %}
                    <li ng-class="{ select: select.indexOf('crash') >= 0 }"><a href="#/crashes/grouped">Crashes</a></li>
                    <li ng-class="{ select: select.indexOf('exception') >= 0 }"><a href="#/exceptions/grouped">Handled Exceptions</a></li>
                    <li ng-class="{ select: select.indexOf('log') >= 0 }"><a href="#/logs/grouped">Logs</a></li>
                    <li ng-class="{ select: select.indexOf('settings') >= 0 }"><a href="#/settings/applications">Settings</a></li>
                {% else %}
                    <li><a href="#/login">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="cs_clear"></div>
    </div>
    <!-- navigation end -->

    <!-- content begin -->
    <div class="cs_content_background">
        <div class="cs_container">
            <div class="alert_view_center"></div>
            <div ui-view='viewMenu' id="js_menu" class="cs_menu"></div>
            <div ui-view='viewContent'></div>
            <div ui-view></div>
        </div>
    </div>
    <!-- content end -->

    <div class="cs_footer">
        <p>
            &copy; 2013 <a href="https://github.com/kelp404" target="_blank" v-tooltip title="Kelp on GitHub">Kelp</a>.
        </p>
    </div>
</body>
</html>