<ul class="nav nav-tabs nav-stacked affix">
    <li class="{{ ''|default('active', menu == 'applications') }}"><a href="/settings/applications">Applications</a></li>
    <li class="{{ ''|default('active', menu == 'profile') }}"><a href="/settings/profile">Profile</a></li>
    <li class="{{ ''|default('active', menu == 'password') }}"><a href="/settings/password">Change Password</a></li>
    <li class="{{ ''|default('active', menu == 'sessions') }}"><a href="/settings/sessions">Sessions</a></li>
</ul>
