{% extends '_container.html' %}

{% block content %}
    <div class="row-fluid">

        <div class="span3 menu">
            {% set menu = 'password' %}
            {% include 'menu_settings.html' %}
        </div>

        <div class="span9">
            <form id="form_password" action="/settings/password#">
                <fieldset>
                    <legend>Change Password</legend>

                    <div class="control-group">
                        <label for="old_password">Old Password</label>
                        <input validation=".+" msg="This field is required." type="password" class="input-xlarge focus" name="old_password" id="old_password"/>
                    </div>

                    <div class="control-group">
                        <label for="new_password">New Password</label>
                        <input validation="^.{5,16}$" msg="Please enter 5 to 16 characters." type="password" class="input-xlarge" maxlength="16" name="new_password" id="new_password"/>
                    </div>

                    <div class="control-group">
                        <label for="confirm_password">Confirm New Password</label>
                        <input validation="^.{5,16}$" msg="Please enter 5 to 16 characters." type="password" class="input-xlarge" maxlength="16" name="confirm_password" id="confirm_password"/>
                    </div>

                    <div>
                        <input type="submit" class="btn" value="Change Password"/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}