/*
 z-index
    .cs_navigation: 1000
    .alert_view: 1600
    #loading: 1600

    bootstrap .modal: 1040
 */


@import "compass/css3";


$navigation_height: 50px;
$content_width: 1100px;


/* font-family */
@font-face {
    font-family: CustomFont;
    src: local("ヒラギノ角ゴ ProN"), local("Hiragino Kaku Gothic ProN"),
    local("Ubuntu"),
    local("微軟正黑體"), local("Microsoft JhengHei");
}
/* Latin */
@font-face {
    font-family: CustomFont;
    unicode-range: U+00-024F, U+203F;
    src: local(Helvetica),
    local(Ubuntu),
    local(Arial);
}

/* Segoe Print */
@font-face {
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe Print'), local('SegoePrint'), url('/font/segoepr.ttf');
}

body
{
    font-size: 13px;
    font-family: CustomFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232323;
    background: url(/img/template/dust.png);
}

.cs_container { width: $content_width; margin: 0 auto; }
.cs_clear { clear: both; }



/* navigation */
.cs_navigation
{
    background-color:#b5b5b5;
    @include background-image(linear-gradient(#999, #c3c3c3));
    @include box-shadow(0 0 12px #555);

    height: $navigation_height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: $content_width;
    z-index: 1000;

    .cs_navigation_inner {
        width: $content_width;
        margin: 0 auto;

        ul {
            display: inline;
            float: right;

            li.cs_top {
                height: $navigation_height - 8;
                position: absolute;
                @include box-shadow(0 0 15px white inset);
                @include border-radius(7px);
            }

            li {
                color: white;
                font-size:19px;
                margin: 4px 3px 0 0;
                position: relative;
                display: inline-block;
                height: $navigation_height;

                a { line-height:42px; padding:0 16px 0 16px; display:block; color:white; text-decoration: none;}
                a:link { color: white; text-decoration: none;}
                a:visited { color: white; text-decoration: none;}
                a:hover { color: white; text-decoration: none; }
            }
        }

        .cs_logo {
            float: left;
            height: $navigation_height;

            a {
                display:block;
                line-height: $navigation_height;
                margin:0;
                color:white;
                font-size:27px;
                text-decoration:none;
                font-family:"Segoe Print";
                @include text-shadow(0 0 3px white);
            }
        }

        .cs_profile {
            float: right;
            color: white;
            text-align: right;
            line-height: 12px;
            font-size: 10px;
            padding: 7px 0 0 5px;
            border-left: 1px solid #aaa;
            a { color: white; text-decoration: none; }
            a:hover { color: white; text-decoration: none; }
        }
    }
}



/* content */
.cs_content_background
{
    background-color: #fff;
    padding: 70px 0 20px 0;
    width: 100%;
    min-width: $content_width;

    .cs_content {
        min-height: 200px;
        width: $content_width;
    }
    .cs_content_medium {
        min-height: 200px;
        margin-left: 270px;
        width: $content_width - 270;
    }

    /* menu */
    .cs_menu {
        width: 250px;
        float: left;

        /* menu */
        ul {
            width: 250px;
        }
    }
}

.cs_crash_info dl
{
    margin: 0 0 3px 0;
}

/* table */
.table { table-layout:fixed; }
.table-content tbody td { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.table-pointer tbody tr { cursor: pointer; }
.table>tbody>tr>td { vertical-align: middle; }
.table pre { margin: 0; }
.table td .control-group { margin-bottom: 0 }
.table td input { margin-bottom: 0; }


/* settings */
.cs_added_group
{
    margin: -5px 0 10px 0;
}


/* login page */
.cs_login
{
    text-align: center;
    a {
        color: #505050;
    }
}


/* footer */
.cs_footer
{
    background-color: #f2f2f2;
    background: url(/img/template/dust.png);
    @include box-shadow(0 -10px 12px #f2f2f2);
    padding: 40px 0;
    width: 100%;
    min-width: $content_width;

    color: #666;
    font-size:13px;
    text-align:center;
    font-weight:bolder;
}



/* loading */
#loading
{
    position: fixed;
    right: 10px;
    height: 40px;
    font-size: 12px;
    z-index: 1600;

    opacity: 0.8;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    @include border-radius(4px);
    @include box-shadow(0 0 3px rgba(0,0,0, 0.1) inset);
}
#loading .spin
{
    float: left;
    height: 30px;
    width: 30px;
    margin: 5px 10px;
}
#loading .message { margin: 10px 10px 10px 50px; }



/* alert view */
.alert_view_center {
    width: 780px;
    margin-left: 160px;
}