/*
 z-index
    #nav_bar: 1000
    .alert_view: 1600
    #loading: 1600

    bootstrap .modal: 1040
 */


/* AlertView */
#alert_view_center {
    position: fixed;
    z-index: 1600;
}
.alert_view {
    overflow: hidden;
    z-index: 1600;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    color: #333;

    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}
.alert_view_notification {
    padding: 0;
    position: fixed;
    margin: 10px;
    width: 250px;
    height: 73px;
    -webkit-box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 10px #444;
    box-shadow: 0 0 10px #444;
}
.alert_view .av_title {
    font-size: 15px;
    line-height: 25px;
    font-weight: bolder;
    color: #222;
}
.alert_view .av_message {
    margin-left: 10px;
    font-size: 13px;
    line-height: 20px;
}
.alert_view_notification .av_title
{
    border-bottom:1px solid #e3e3e3;
    background:-moz-linear-gradient(0% 0% 270deg, #f0f0f0, #fff 100%);
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#f0f0f0), to(#fff));
    padding: 0 10px;
}
.alert_view_notification .av_message
{
    padding: 2px 10px;
    margin-left: 0;
}
.alert_view .av_close {
    line-height: 25px;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
}

/* Template error */
.alert_view_error {
    background-color: #f2dede;
    color: #b92a28;
}
.alert_view_notification.alert_view_error .av_title {
    color: white;
}
.alert_view_notification.alert_view_error .av_title {
    border-bottom:0px solid #e3e3e3;
    background:-moz-linear-gradient(0% 0% 270deg, #ee5f5b, #bd362f 100%);
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#ee5f5b), to(#bd362f));
}
.alert_view_error .av_title {
    color: #b92a28;
}
/* Template black */
.alert_view_black {
    border:1px solid #777;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    background-color: #222;
    color: #f6f6f6;
}
.alert_view_notification.alert_view_black .av_title {
    border-bottom:1px solid #777;
    background:-moz-linear-gradient(0% 0% 270deg, #555, #222 100%);
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#555), to(#222));
}
.alert_view_black .av_title {
    color: white;
}


/* font-family */
@font-face {
    font-family: CustomFont;
    src: local("ヒラギノ角ゴ ProN"), local("Hiragino Kaku Gothic ProN"),
    local("Ubuntu"),
    local("微軟正黑體"), local("Microsoft JhengHei");
}
/* Latin */
@font-face {
    font-family: CustomFont;
    unicode-range: U+00-024F, U+203F;
    src: local(Helvetica),
    local(Ubuntu),
    local(Arial);
}

/* Segoe Print */
@font-face {
    font-family: 'Segoe Print';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe Print'), local('SegoePrint'), url('/css/segoepr.ttf');
}

body
{
    font-size: 13px;
    font-family: CustomFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232323;
    background: url(/img/template/dust.png);
}
a { text-decoration: none; }
a:link { text-decoration: none; color: #0b5394; }
a:visited { text-decoration: none; color: #0b5394; }
a:hover { text-decoration: underline; color: #3d85c6; }

/* nav */
#nav_bar
{
    padding-right:10px;
    background-color:#b5b5b5;
    background:-moz-linear-gradient(10% 0% 270deg, #999, #c3c3c3 100%);
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, from(#999), to(#c3c3c3));
    background-color:-ms-linear-gradient(top, #c3c3c3 0%,#999 100%);
    height:50px;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    min-width: 1100px;
    z-index: 1000;
}
#nav_bar>div
{
    width: 1100px;
    margin: 0 auto;
}
#nav_bar .logo
{
    float: left;
    height:50px;
}
#nav_bar .logo a
{
    display:block;
    line-height: 50px;
    margin:0;
    color:White;
    font-size:27px;
    text-decoration:none;
    font-family:"Segoe Print";
    text-shadow:0 0 3px #fff;
}
#nav_bar .profile
{
    float: right;
    color:White;
    text-align: right;
    line-height: 12px;
    font-size: 10px;
    padding: 7px 0 0 5px;
    border-left: 1px solid #aaa;
}
#nav_bar ul
{
    display: inline;
    float: right;
}
#nav_bar ul>li
{
    color:White;
    font-size:19px;
    margin:4px 3px 0 0;
    position:relative;
    display: inline-block;
    height: 50px;
}
#nav_bar ul>li.top
{
    height:42px;
    position:absolute;
    -moz-box-shadow:inset 0 0 15px #fff;
    -webkit-box-shadow:inset 0 0 15px #fff;
    box-shadow:inset 0 0 15px #fff;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
#nav_bar ul>li>a{ line-height:42px; padding:0 16px 0 16px; display:block; color:White;text-decoration: none;}
#nav_bar a:link{ color:White;text-decoration: none;}
#nav_bar a:visited{ color:White;text-decoration: none;}
#nav_bar a:hover{ color:White;text-decoration: none; }

.menu ul
{
    width: 256px;
}

/* content */
#content_background
{
    background-color: #fff;
    padding: 70px 0 20px 0;
    width: 100%;
    min-width: 1100px;
}
#content
{
    width:1100px;
    margin: 0 auto;
}
.crash_info dl
{
    margin: 0 0 3px 0;
}
/* table */
.table { table-layout:fixed; }
.table-content tbody td { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.table-pointer tbody tr { cursor: pointer; }
.table>tbody>tr>td { vertical-align: middle; }
.table pre { margin: 0; }
.table td .control-group { margin-bottom: 0 }
.table td input { margin-bottom: 0; }


/* footer */
#footer
{
    background-color: #f2f2f2;
    background: url(/img/template/dust.png);
    box-shadow: 0 -10px 12px #f2f2f2;
    padding: 40px 0;
    width: 100%;
    min-width: 1100px;

    color: #666;
    font-size:13px;
    text-align:center;
    font-weight:bolder;
}

/* loading */
#loading
{
    position: fixed;
    right: 10px;
    height: 40px;
    font-size: 12px;
    z-index: 1600;

    opacity: 0.8;
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.05)
}
#loading .spin
{
    float: left;
    height: 30px;
    width: 30px;
    margin: 5px 10px;
}
#loading .message { margin: 10px 10px 10px 50px; }

/* shared */
.shadow
{
    -moz-box-shadow: 0 0 12px #555;
    -webkit-box-shadow: 0 0 12px #555;
    box-shadow: 0 0 12px #555;
}
.radius
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.clear { clear:both; }