<!doctype html>
<html ng-app="victory">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}{{ title_prefix }}</title>
    <meta name="author" content="Kelp"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    {% if compressed %}
        <link rel="stylesheet" type="text/css" href="/css/site.min.css"/>
        <script type="text/javascript" src="/javascript/site.min.js"></script>
    {% else %}
        <link rel="stylesheet" type="text/css" href="/css/alert_view.css"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <script type="text/javascript" src="/javascript/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="/javascript/base.min.js"></script>
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
        <script type="text/javascript" src="/coffeescript/victory.js"></script>
    {% endif %}
</head>
<!--
                                    ,'.
                                   ;+++`
                                  '+   +`
                                 +      +
                                ;        ,
                                         .
                               ,
                               ,    .'+', +';::.`           .
                               .  ,++++++++++++++++'`       :,';`
                               ,++++++++++##+++++++++++'   `,,,,, ;`
                              ++++++++++++++++++++++++++++`;,,,+,,,:
                            '+++++++''''+;;;;;;';;;+++++'+++,,+',,;'
                           ;';;;;'++++++++++++++++++#+++++++++++:
                         .'+++++++++#++++++++##+#+#+##++++'+#++++.
                        '+++#++++++++++++++++##+#++#++++++++#+#++:
                       +`++#+++++++#+++++++++##+'#+###++++####+#+;
                   `,.  '++#++++++#+++:+++++###,,##;##++++####++#'
                        ++##+#++++#++':'+'++##+:::#+;##+++###+;+++
                       `++####+++##++::.+`++##;'+:'#:+#++++###;,++
                       + +####+++#++',` #::+#+:`;++++++++++#+#: #+
                         .####++++;::,  .``++:,`;,###+++++++##, ++,'
                     `   `+####++    . ; ;```:``++#+# ++++++##` ,#+
                         :++###++   '.   ',.`````',:`:+++++#+#  `#+.;
                         '++####++`.;'.``````.:;::,`,'++#++# '   #+'
                          ;++####```````````````````:+++#++      ##+
                            ++####`````````````````.,++##+       ##:
                            '++##:#+:`````````````:#+++##;      `#.,
                             ';+#, ',###',````;'#+' `+##+       .' .
                             ,  '#      ::::::::`   `+#`'       '
                                  ':#;::::+;:+::::' `+
                                `++++.:++++:+;+++:#+'
                        ,++++++++,++++;'++++++++++++,`
-->
<body>
    <!-- id="js_navigation" class="cs_navigation" -->
    {% include './shared/navigation.html' %}

    <div class="cs_content_background">
        <div class="cs_container">
            <div class="alert_view_center"></div>


            <div ui-view="viewA"></div>
            <div ui-view="viewB"></div>
            <!-- Also a way to navigate -->
            <a href="#/route1">Route 1</a>
            <a href="#/route2">Route 2</a>


            <!-- id="js_menu" class="cs_menu" -->
            {% block menu %}{% endblock %}
            <!-- id="js_content" class="cs_content" -->
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- class="cs_footer" -->
    {% include './shared/footer.html' %}
</body>
</html>